.header {
    background-color: var(--color-bglight);
    height: 110px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: column;
}
.logo span {
    font-size: 20px;
}
.logo span:first-child{
    font-weight: bold;
}
.menu img {
    display: none;
}
.menu > ul {
    display: flex;
    gap: 20px;
}
.menu a {
    color: var(--textcolor-black);
    padding: 5px 10px;
    position: relative;
    font-size: 20px;
}
.menu a:hover:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;;
    width: 5px;
    height: 17px;
    background-color: #8B8C4A;
}