.content-intro {
    background-color: var(--color-greenlight);
    background-image: url(img/leaf1.png);
    background-repeat: no-repeat;
    background-position: -40px bottom;
}
.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.author-info h1 {
    font-size: var(--fs-l);
    line-height: var(--lh-l);
}
.author-info p {
    font-size: 28px;
}
.author-info p span {
    font-weight: 600;
    font-size: 28px;
}
.info-social {
    display: flex;
    margin-top: 25px;
    gap: 25px;
}
.info-social i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--color-greenlight);
    background-color: var(--color-orangedark);
    border-radius: 50%;
}
.author-img {
    display: flex;
    max-width: 455px;
    min-width: 150px;
}
.author-img img {
    width: 100%;
}
.content-services {
    padding-top: 120px;
    padding-bottom: 120px;
}
.content-services h1 {
    font-size: var(--fs-m);
    line-height: var(--lh-m);
}
.services-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.services-item {
    color: white;
    padding: 65px 40px;
    background-color: var(--color-greendark);
    flex: 1 0  460px;
}
.services-items div:last-child {
    flex-basis: 100%;
}
.services-item h3 {
    font-size: 36px;
}
.services-item p {
    font-size: 18px;
    color: var(--color-greenlight);
    margin: 30px 0;
}
.services-item form {
    text-align: center;
    width: 100%;
}
.services-item form select{
    padding: 17px 35px 15px 15px;
    max-width: 550px;
    width: 100%;
    background-color: var(--color-greenlight);
    margin-bottom: 15px;
    font-weight: 600;
    border: 1px solid var(--color-bglight);
    appearance: none;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    font-size: 16px;
    
}
.services-item form button {
    background-color: var(--color-orangedark);
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    padding: 15px 35px;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
}
.services-item form button i {
    margin-right: 10px;
    font-size: 25px;
    opacity: 0.6;
}
.item-second p:nth-child(odd) {
    font-weight: 600;
    margin-top: -25px;
}
.services-item.item-second form a {
    background-color: transparent;
    padding: 15px 40px;
    text-transform: uppercase;
    border:1px solid var(--color-orangedark);
    display: inline-block;
    margin-top: 25px;
    color: white;
}
.services-item.item-second form a i {
    color: black;
    font-size: 12px;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 50%;
    background-color: #FBF1E3;
    margin-right: 5px;
}
.item-third select {
    margin-right: 35px;
}
.item-third p:nth-child(even) {
    margin-top: 0px;
}
.lists-links {
    background-color: var(--color-greenlight);
    padding-top: 140px;
    padding-bottom: 100px;
}
.links-container h1{
    font-size: var(--fs-m);
    line-height: var(--lh-m);
}
.links-items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.links-item {
    display: flex;
    gap: 20px;
    width: 45%;
    min-width: 320px;
}
.links-item img {
    width: 120px;
    height: 120px;
}
.item-link-text span {
    font-weight: 600;
}
.item-link-text a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 30px;
    background-color: var(--color-orangedark);
    color: white;
    border: 1px solid black;
}
.item-link-text a i {
    margin-right: 10px;
}
.clients {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}
.clients h1 {
    font-size: var(--fs-m);
    line-height: var(--lh-m);
}
.clients-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.list img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.list h3 {
    font-weight: 600;
    font-size: 14px;
}
.about-author {
    padding-top: 140px;
    padding-bottom: 100px;
    background-color: var(--color-greendark);
    color: white;
}
.about-author-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.about-author-cite {
    flex: 1 0 30%;
}
.about-author-cite h1 {
    font-size: var(--fs-m);
    line-height: var(--lh-m);
    font-weight: 600;
}
.about-author-cite p {
    color: var(--color-greenlight);
    margin-top: 25px;
}
.about-author-photo {
    position: relative;
    width: 487px;
}
.about-author-photo img {
    position: absolute;
    bottom: -100px;
    right: 0;

}
.famous-cites {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--color-greenlight);
    background-image: url(img/leaf2.png);
    background-repeat: no-repeat;
    background-position: right 100px;
}
.famous-cites footer {
    font-weight: 600;
    text-align: right;
    margin-top: 20px;
}
