:root {
  --color-green: #41bc8d;
  --color-pink: #f294b8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(253, 240, 221);
}
.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
}
.feedback_item {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 20px 20px;
  border-radius: 10px;
  position: relative;
}
.item_text::before {
  content: '"';
  position: absolute;
  top: 20px;
  padding: 5px 5px 10px;
  border-radius: 50%;
  background-color: var(--color-green);
  height: 15px;
  width: 15px;
  text-align: center;
  color: white;
  font-size: 30px;

}
article:last-child .item_text::before {
  background-color: var(--color-pink)
}
article:last-child .info_name {
  color: var(--color-pink);
}
.item_info {
  text-align: right;
}
.feedback_item, .feedback_item * {
  background-color: rgb(255, 255, 255);
}
.item_info {
  margin-top: 20px;
}
.info_name {
  color: var(--color-green);
  font-size: 18px;
}
.info_position {
  font-size: 14px;
}
.info_company {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
article:last-child .info_company::before {
  content: "★";
  color: white;
  font-size: 12px;
  background-color: black;
  padding: 3px;
  border-radius: 52% 48% 50% 50% / 6% 6% 94% 94%;
}