:root {
  --color-plan: rgb(121 135 169);
  --color-start: rgb(79 98 141);
  --color-econom: rgb(48 64 115);
  --color-standard: rgb(22 40 84);
  --color-pro: rgb(7 21 58);
  --color-texttitle: rgb(244 253 250);

  --color-grey: rgba(128, 128, 128, 0.299);
  --color-lightgrey: rgba(128, 128, 128, 0.099);
  --color-white: rgb(255, 255, 255);

  --color-bgbutton: rgb(211 211 211);
  --color-textbutton: rgb(91 91 90);
  --color-borderbutton: rgb(173, 173, 173);
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: sans-serif;
}
thead {
  color: var(--color-texttitle);
}
thead tr th:not(:nth-child(1)) p:nth-child(2) {
  font-size: 30px;
  margin-bottom: -10px;
}
thead tr th:nth-child(1) {
  text-align: left;
  padding: 0 20px;
  background-color: var(--color-plan);
  border-top-left-radius: 5px;
}
thead tr th:nth-child(2) {
  background-color: var(--color-start);
}
thead tr th:nth-child(3) {
  background-color: var(--color-econom);
}
thead tr th:nth-child(4) {
  background-color: var(--color-standard);
}
thead tr th:nth-child(5) {
  background-color: var(--color-pro);
  border-top-right-radius: 5px;
}
tbody {
  text-align: center;
}
tbody tr th {
  font-weight: normal;
  text-align: left;
  padding: 10px 20px;
}
tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td:nth-child(odd) {
  background-color: var(--color-grey);
}
tbody tr:nth-child(even) th,
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--color-lightgrey);
}
tbody tr:nth-child(even) td:nth-child(even) {
  background-color: var(--color-white);
}
tfoot {
  text-align: center;
}
tfoot tr td {
  padding: 10px 15px;
}
tfoot button {
  padding: 10px 25px;
  text-transform: uppercase;
  color: grey;
  border: 1px solid var(--color-borderbutton);
}
tfoot tr td:nth-child(even) {
  background-color: var(--color-lightgrey);
}
tfoot tr td:nth-child(odd),
tfoot tr th,
tfoot button {
  background-color: var(--color-grey);
}
tfoot tr th {
  border-bottom-left-radius: 5px;
}
tfoot tr td:last-child {
  border-bottom-right-radius: 5px;
}
